{{ include('base.html.twig') }}

{% if tamagotchis is empty %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Main - Tamagotchi</title>
    </head>
    <body>
        <h1>Your Tamagotchi</h1>
        <form action='/' method='post'>
            <label for='name'>Name your tamagotchi: </label>
            <input id='name' name='name' type='text'>
            <button type='submit'>Play Game</button>
        </form>
    </body>
    </html>
{% elseif tamagotchis[0].getHunger <= 0 or tamagotchis[0].getSleep <= 0 or tamagotchis[0].getHappiness <= 0 %}
    <html>
    <body>
    <div class='container'>
    <h2>{{ tamagotchis[0].name }} is dead</h2>
    <form action='/new-game' method='post'>
        <button type='submit' class='btn btn-danger'>New Game</button>
    </form>
    </div>
    </body>
    </html>
{% else %}
    <html>
    <head>
        <title>Main - Tamagotchi</title>
    </head>
    <body>
        <div class="container">
            <h1>Your Tamagotchi: {{ tamagotchis[0].getName }}</h1>
            <p>Hunger level: {{ tamagotchis[0].getHunger }}</p>
            <p>Happiness: {{ tamagotchis[0].getHappiness }}</p>
            <p>Rest level: {{ tamagotchis[0].getSleep }}</p>
            <div class="row">
            <div class="col-sm-1">
            <div class='form-group'>
                <form action='/fed' method='post'>
                    <button type='submit' class='btn btn-warning'>Feed</button>
                </form>
            </div>
            </div>
            <div class="col-sm-1">
              <div class='form-group'>
                  <form action='/play' method='post'>
                      <button type='submit' class='btn btn-primary'>Play</button>
                  </form>
              </div>
            </div>
            <div class="col-sm-1">
              <div class='form-group'>
                  <form action='/rest' method='post'>
                      <button type='submit' class='btn btn-info'>Rest</button>
                  </form>
              </div>
            </div>
            <div class="col-sm-1">
              <div class='form-group'>
                  <form action='/time' method='post'>
                      <button type='submit' class='btn btn-danger'>Time</button>
                  </form>
              </div>
            </div>
            <div class="col-sm-1">
              <div class='form-group'>
                  <form action='/new-game' method='post'>
                      <button type='submit' class='btn btn-success'>New Game</button>
                  </form>
              </div>
            </div>
        </div>
    </body>
    </html>
{% endif %}
